<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sk.sqhk"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".module.home.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".module.home.activity.WenZhangDetailActivity"/>
        <activity android:name=".module.my.activity.MyMessageActivity"/>
        <activity android:name=".module.home.activity.MyFenRunActivity"/>
        <activity android:name=".module.home.activity.ShouYiMingXiActivity"/>
        <activity android:name=".module.home.activity.TiXianActivity"/>
        <activity android:name=".module.home.activity.BankListActivity"/>
        <activity android:name=".module.home.activity.TiXianResultActivity"/>
        <activity android:name=".module.home.activity.FastRenZhengActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".module.home.activity.YaoQingActivity"/>
        <activity android:name=".module.home.activity.HuoDongGuiZeActivity"/>
        <activity android:name=".module.home.activity.AddChuXuKaActivity"/>
        <activity android:name=".module.home.activity.SelectBankTypeActivity"/>
        <activity android:name=".module.home.activity.OnlineMakeBankActivity"/>
        <activity android:name=".module.home.activity.JinRongChaoShiActivity"/>
        <activity android:name=".module.home.activity.XinYongDaiActivity"/>
        <activity android:name=".module.home.activity.DaiKuanDetailActivity"/>
        <activity android:name=".module.my.activity.YiJianFanKuiActivity"/>
        <activity android:name=".module.select.activity.ZhangDanDuoTianDetailActivity"/>
        <activity android:name=".module.my.activity.MyAccountActivity"/>
        <activity android:name=".module.my.activity.MyBankListActivity"/>
        <activity android:name=".module.my.activity.XieYiActivity"/>
        <activity android:name=".module.my.activity.RegisterActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".module.my.activity.HelpDetailActivity"/>
        <activity android:name=".module.my.activity.HelpCenterActivity"/>
        <activity android:name=".module.my.activity.ForgetPWDActivity"/>
        <activity android:name=".module.my.activity.SettingActivity"/>
        <activity android:name=".module.my.activity.UpdatePhoneActivity"/>
        <activity android:name=".module.my.activity.UpdatePWDActivity"/>
        <activity android:name=".module.my.activity.AboutWeActivity"/>
        <activity android:name=".module.my.activity.LoginActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".module.my.activity.TongZhiActivity"/>
        <activity android:name=".module.home.activity.MoreZiXunActivity"/>
        <activity android:name=".module.home.activity.WoDeYaoQingActivity"/>
        <activity android:name=".module.home.activity.AddXinYongKaActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".module.my.activity.XinYongCarDetailActivity"/>
        <activity android:name=".module.home.activity.JiSuHuanKuanActivity"/>
        <activity android:name=".module.home.activity.HuanKuanJiHuaActivity"/>
        <activity android:name=".module.select.activity.WoDeZhangDanActivity"/>
        <activity android:name=".module.select.activity.ZhangDanYiTianDetailActivity"/>
        <activity android:name=".module.home.activity.WebActivity"/>


        <!--极光推送-->
        <service android:name="cn.jpush.android.service.PushService"
                 android:process=":multiprocess"
                 tools:node="replace" >
        </service>

        <service android:name=".service.MyAPPDownloadService"/>
        <receiver
            android:name=".broadcast.DownloadBro"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="download" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.JpushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>








    </application>

</manifest>